.trendBg {
    background-color: rgb(247, 249, 249);
    border-radius: 16px;
    margin-top: 12px;
}
.trend {
    font-size: 20px;
    font-weight: bold;
    padding: 12px 0;
}
.trend h3 {
    margin-bottom: 12px;
    padding: 0 16px;
}