.post {
    display: flex;
    padding: 12px 16px;
    border-color: rgb(239, 243, 244);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    transition-property: background-color, box-shadow;
    transition-duration: 0.2s;
}

.post:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.postUserSection {
    margin-right: 12px;
    width: 40px;
}

.postUserImage {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.postUserImage img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.postUserName {
    font-weight: bold;
}

.postImageSection {

}

.postBody {
    display: flex;
    flex-direction: column;
}

.postImageSection img {
    margin-top: 12px;
    width: 100%;
    border-radius: 16px;
}

.actionButtons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    column-gap: 4px;
    margin-top: 12px;
}

.actionButtons svg {
    fill: rgb(83, 100, 113);
}

.commentButton, .repostButton, .heartButton {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.commentButton button, .repostButton button, .heartButton button {
    background: #ffffff;
    border: none;
    outline: none;
    display: flex;
    width: 38px;
    height: 38px;
    align-items: center;
    justify-content: center;
    border-radius: 19px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.2s;
    margin-right: 4px;
}

.actionButtons .count {
    font-size: 13px;
    color: rgb(83, 100, 113);
}

.commentButton button {
    background-color: rgba(29, 155, 240, 0.01);
}

.commentButton:hover button {
    background-color: rgba(29, 155, 240, 0.1);
}

.commentButton:hover svg {
    fill: rgb(29, 155, 240)
}

.commentButton:hover .count {
    color: rgb(29, 155, 240);
}

.repostButton button {
    background-color: rgba(0, 186, 124, 0.01);
}

.repostButton:hover button {
    background-color: rgba(0, 186, 124, 0.1);
}

.repostButton:hover svg {
    fill: rgb(11, 175, 123)
}

.repostButton:hover .count {
    color: rgb(11, 175, 123)
}

.heartButton button {
    background-color: rgba(249, 24, 128, 0.01)
}

.heartButton:hover button {
    background-color: rgba(249, 24, 128, 0.1)
}

.heartButton:hover svg {
    fill: rgb(228, 34, 126);
}

.heartButton:hover .count {
    color: rgb(228, 34, 126);
}