.filterTitle {
    background: #ffffff;
    padding: 12px 16px;
    color: rgba(15,20,25,1.00);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
    border-radius: 16px;
    border: 1px solid rgb(239,243,244);
    margin-top: 12px;
}

.filterSection {
    padding: 0 16px 12px;
    margin-bottom: 16px;
    border-radius: 16px;
    border: 1px solid rgb(239,243,244);
}

.filterSection label {
    font-size: 15px;
    font-weight: bold;
    height: 36px;
    display: flex;
    align-items: center;
}

.radio {
    display: flex;
}

.radio > div {
    flex: 1;
}