.main {
    width: 600px;
    border-color: rgb(239, 243, 244);
    border-right-width: 1px;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-style: solid;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.formZone {
    padding-left: 16px;
    width: 566px;
    margin-bottom: 60px;
}

.trendBg {
    margin-top: 60px;
    background-color: rgb(247, 249, 249);
}
.trend {
    border-top: 1px solid rgb(239, 243, 244);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}
.trend h3 {
    padding: 12px 16px;
}
