.main {
    width: 600px;
    border-color: rgb(239, 243, 244);
    border-right-width: 1px;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-style: solid;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
@media all and (min-width: 687px) {
    .main {
        width: 600px;
    }
}
@media (prefers-color-scheme: dark) {
    .main {
        border-color: rgb(47, 51, 54);
    }
}
