.main {
  width: 600px;
  border-color: rgb(239, 243, 244);
  border-right-width: 1px;
  border-left-width: 1px;
  border-left-style: solid;
  border-right-style: solid;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.homeFixed {
  position: fixed;
  width: inherit;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
  border-color: rgb(239, 243, 244);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.homeText {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  padding: 12px 16px;
}

.homeTab {
  height: 53px;
  display: flex;
}

.homeTab a {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  position: relative;
}
.homeTab a:hover {
  background-color: rgba(15,20,25, 0.1);
}

.tabIndicator {
  height: 4px;
  align-self: center;
  background-color: rgb(29, 155, 240);
  min-width: 56px;
  width: 56px;
  position: absolute;
  bottom: 0px;
  border-radius: 9999px;
}

.postUserSection {
  margin-right: 12px;
  width: 40px;
}

.postUserImage {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.postUserImage img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.postForm {
  margin-top: 101px;
  display: flex;
  padding: 16px 16px 8px;
  border-color: rgb(239, 243, 244);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.postInputSection {
  flex: 1;
}
.postButtonSection {
  display: flex;
  justify-content: flex-end;
}
.postForm input {
  width: 100%;
  border: none;
  padding: 12px 0;
  font-size: 20px;
  line-height: 24px;
  outline: none;
}

.postForm button:disabled {
  opacity: 0.5;
}
.postForm button {
  width: 94px;
  height: 36px;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 15px;
  border-radius: 18px;
  background-color: rgb(29, 155, 240);
}
.postForm button:hover {
  background-color: rgb(26, 140, 216);
}